html,body{
  margin: 0;
  padding: 0;
}

.fS{
  height: 100vh;
  padding: 10px;
  transition: background-color 0.5s ease;
}

.mainBody{
  display: flex;
  
}

.light-mode {
  background-color: #f9f9f9;  
  color: #333; 
}


.dark-mode {
background-color: #1e1e1e;   
  color: #f9f9f9;
}
